@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,fieldset,h1,h2,h3,h4,h5,h6,img,input,figure{
  margin:0;
  padding:0;
}
body{
  font-family: "微软雅黑",Arial;
  width:100%;
}
a{
  text-decoration:none;
}
ul,ol{
  list-style:none;
}
img{
  display:block;
  border: 0;

}

